h1 {
  color: white; }

h5 {
  color: white;
  text-align: center; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

@media screen and (max-width: 440px) {
  h1 {
    font-size: 30px; }

  h5 {
    font-size: 18px; } }
.container .nav {
  background: rgba(255, 255, 255, 0.21);
  border-radius: 72px;
  margin-top: 12px; }
.container .row .img-box img {
  max-height: 160px;
  margin: 0 auto;
  display: table;
  margin-bottom: 50px; }
.container select {
  padding: 5px 6px;
  width: 100%; }

@media screen and (max-width: 440px) {
  .container select {
    width: 92%;
    margin-bottom: 7px; }
  .container .nav-tabs .nav-link {
    color: white;
    font-size: 12px;
    margin: 0; } }

/*# sourceMappingURL=main.css.map */
