<div class="container">
    <ul class=" nav mb-4">
        <h1 class="mx-auto mt-3 mb-4">Tesztfeladat</h1>
    </ul>
    <input type="text" ng-model="imageList.search" class="search-query d-block w-75 mx-auto text-center p-3 m-4" id="image_search"
           placeholder="Keresés">
</div>