<div class="container">
    <div class="mx-auto d-table mb-3">
        <div class="row">
            <div class="col-sm-4">
                <select ng-model="selected1" ng-options="key as key for key in select" class="mx-2">
                    <option ng-if="!selected1" value="">Főkategória</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select ng-model="selected2" ng-options="item as item for item in select1[selected1]" class="mx-2">
                    <option ng-if="!selected1" value="">Kategória</option>
                </select>
            </div>
            <div class="col-sm-4">
                <select ng-model="selected3" ng-options="key for  key in select2[selected2]" class="mx-2">
                    <option ng-if="!selected2" value="">Alkategória</option>
                </select>
            </div>
        </div>
    </div>

</div>