<div class="container" >
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 img-box" ng-repeat="photo in photos.photos.photo | orderBy:'name'">
            <h5 class="title">{{ photo.width_m}} X {{photo.height_m}}px</h5>
            <img class="img-fluid" ng-src="{{photo.url_m}}"  ng-alt="{{ photo.title}}">
        </div>
    </div>
</div>
