.container
  .nav
    background: rgba(255, 255, 255, 0.21)
    border-radius: 72px
    margin-top: 12px
  .row
    .img-box
      img
        max-height: 160px
        margin: 0 auto
        display: table
        margin-bottom: 50px
  select
    padding: 5px 6px
    width: 100%

@media screen and (max-width: 440px)
  .container
    select
      width: 92%
      margin-bottom: 7px
    .nav-tabs
      .nav-link
        color: white
        font-size: 12px
        margin: 0